/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.Soft {
    width: 75%;
    height: auto;
    overflow: auto;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 30px;
}

.SoftImg {
    float: left;
    width: 48%;
}

.shadow {
    -webkit-box-shadow: 5px 5px 7px 8px #ccc;
    -moz-box-shadow: 5px 5px 7px 8px #ccc;
    box-shadow: 5px 5px 7px 8px #ccc;
}

.SoftName {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

    .SoftName:hover {
        text-shadow: 0px 0px 3px #2d0de0;
    }

.CatName {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.instagram-gradient {
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.NavMain {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.UnderPicture {
    width: 100%;
    height: 50px;
    background-color: #2e2e2e;
    margin-bottom: 20px;
}

    .UnderPicture a {
        margin-top: 6px;
        margin-left: 15px;
        margin-bottom: 8px;
        font-weight: bold;
        width: 140px;
    }

.Comments {
    border-radius: 5px;
    min-height: 500px;
    width: 100%;
    border: 1px solid gray;
    margin-top: 20px;
}

    .Comments input {
        font-size: 15px;
        border: none;
        border-bottom: 1px solid gray;
        width: 100%;
        height: 50px;
        font-weight: 500;
        outline: none;
    }

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: green; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-size: 15px;
    border-radius: 10px
}

.sidenav {
    border-left: 1px solid gray;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 400px; /* Set the width of the sidebar */
    top: 0px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    left: 78%;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.CatsLabel {
    margin-top: 17px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.CatsLine {
    margin-top: 5px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 6px;
}

.Cat {
    width: 100%;
    height: 75px;
}

    .Cat:hover {
        background-color: #e6e6e6;
    }

    .Cat img {
        width: 50px;
        margin-top: 13px;
        margin-left: 10px;
    }

    .Cat label {
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        margin-top: 25px;
        margin-left: 5px;
    }

    .Cat a {
        text-decoration: none;
    }

.SoftLinks {
    background-color: #f5f5f5;
    border: none;
    color: black;
    font-weight: 500;
}

.navbar-account {
    margin-left: auto;
    float: right;
    margin-right: 23%;
}

.LoginForm {
    width: 55%;
    margin-left: 11%;
    border: 1px solid gray;
    border-radius: 5px;
}

    .LoginForm div {
        margin: 15px;
    }

    .LoginForm button {
        margin-top: 10px;
        width: 100%;
    }

.min-font {
    font-size: 14px;
    font-weight: 500;
}

.RegisterLink {
    margin-right: 35%;
    float: right;
    margin-left: auto;
}

.SoftAdd input {
    width: 100%;
    margin-bottom: 15px;
}

.SoftAdd button {
    width: 100%;
}

.AddBtn {
    font-size: 18px;
    font-weight: 500;
    width: 150px;
}

.quitbtn {
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

    .quitbtn:hover {
        cursor: pointer;
    }

.center {
    margin-left: 28%;
}

.CommentLogin {
    font-weight: 600;
    font-size: 17px;
}

.MoreAbout {
    width: 77%;
}

@media(max-width:1000px) {
    .sidenav {
        visibility: hidden;
    }

    .Soft {
        width: 100%;
    }

    .navbar-account {
        margin-right: 0;
    }

    .MoreAbout {
        width: 100%;
    }

    .LoginForm {
        width: 70%;
        margin-left: 15%;
    }

    .RegisterLink {
        margin-right: 16%;
    }
}

@media(max-width:500px) {
    .LoginForm {
        margin-left: 0;
        width: 96%;
    }

    .RegisterLink {
        margin-right: 6%;
    }
    .Search {
    display:none;
    }
}

.description {
    margin-top: 30px;
    font-size: 17px;
    font-weight: bold;
    width: 95%
}

.SoftMore {
    float: right;
    width: 48%
}

@media(max-width:700px) {
    .description {
        display: none;
    }
    .SearchInput {
        max-width: 70%;
    }
}

@media(max-width:625px) {
    .UnderPicture {
        height: 97px;
    }

    .SearchInput {
        max-width: 135px;
    }
}

.Pages {
    margin-left: 10px;
}

.Search {
    width: 50%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}

.SearchInput {
    border: none;
    height: 35px;
    width: 75%;
    min-width:99px;
    outline:none;
}

.Search button {
}

.SearchBtn {
    height:40px;
    float: right;
    width: 80px;
}
@media(max-width:550px) {
    .SoftImg {
    width:100%;
    }
    .SoftMore {
    width:100%;
    text-align:center;
    }
}